:root{
  --color-note: #fff9c3;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  margin-right: 10px;
}
.btn svg{
  vertical-align: initial;
}
.note .card{
  background-color: var(--color-note);
  min-height: 100%;
}

.form-control, .form-control:focus{
  border: 1px solid #2222;
  background-color: #0000;
}
#board{
  min-height: 100vh;
  min-width: 100%;
}
.d-contents{
  display: contents;
}
.card-body{
  display: flex;
  flex-direction: column;
}
.card-body textarea{
  flex: -webkit-available;
  flex: -moz-available;
}